$sidebar-width: 200px;

.sidebar {
    bottom: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s;
    width: $sidebar-width;
    z-index: 999;

    .active {
        box-shadow: inset 0 3px 10px rgba($dark2, 0.7);
        border-right: 5px solid $blue3;
        color: white;
        transition: all 0.2s;
    }

    .hover {
        transition: all 0.2s;
    }

    .hover:hover {
        background-color: $dark1;
        color: white;
        cursor: pointer;
        transition: all 0.2s;
    }


    $link-border: 1px solid rgba($dark4, 0.1);

    .link {
        transition: all 0.2s;
    }

    .link:hover {
        cursor: pointer;
        opacity: 0.7;
        border-right: 5px solid $blue3;
        transition: all 0.2s;
    }

}

.sidebar + div {
    margin-left: $sidebar-width;
    transition: all 0.4s;
}

@media (max-width: 950px) {
    $sidebar-sm-width: 80px;
    .sidebar {
        width: $sidebar-sm-width !important;

        .header {
            width: $sidebar-sm-width;
            overflow: hidden;
        }
    }

    .sidebar + div {
        margin-left: $sidebar-sm-width !important;
        transition: all 0.4s;
    }
}
