// rem font size pixel fallback
// usage:
// @include font-size(12px);
@function calc-rem($size) {
  $rem-size: $size / 16px;
  @return $rem-size * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calc-rem($size);
}

@mixin rem-font-size($size: 1.6) {
  font-size: ($size * 10) + px;
  font-size: $size + rem;
}


// named breakpoints
//
// usage:
// @include bp-l {
//  width: 100%;
// }
@mixin bp-l {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-m {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-s {
  @media only screen and (max-width: 30em) {
    @content;
  }
}
