:global {
  .loading {
    position: relative;
    top: 50vh;
    text-align: center;
  }

  b { font-weight: 500 }

  hr {
    border: 0;
    height: 1px;
    background: $dark7;
  }

  .debug {
    border: 1px dotted $green3;
    box-sizing: border-box;
    background: rgba($green4, .5);
  }
}
