// font-face has to be declared outside of :global
// https://github.com/css-modules/css-modules/issues/95
@font-face {
  font-family: 'Proggy';
  src: url(assets/fonts/ProggyClean.ttf);
}

:global {
  body {
    font-size: $default-font-size;
    color: $default-font-color;
    font-family: $default-font-family;
    font-weight: 300;
    font-smoothing: subpixel-antialiased;
    line-height: $default-line-height;
  }

  a {
    color: $default-link-color;
  }

  p {

  }

  h1,
  .h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
  }

  h2,
  .h2 {
    font-size: 3.3333rem;
    font-weight: 100;
    margin: 0;
  }

  h3,
  .h3 {
    font-size: 2.6667rem;
    font-weight: 100;
    margin: 0;
  }

  h4,
  .h4 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
  }

  h5,
  .h5, {
    font-size: 1.3333rem;
    font-weight: 300;
    margin: 0;
  }

  h6,
  .h6 {
    font-size: 1.1667rem;
    font-weight: 300;
    margin: 0;
  }
}
