@import '~styles/shared';

// extract later
.container {
  composes: flex-col;
  height: 100vh;
}

.content {
  composes: flex-col;
  flex-grow: 1;
  overflow-y: auto;
}
// extract later

.styleguide {
  composes: container;
}

.sidebar {
  composes: flex-col;
  flex-grow: 1;
}

.section {
  padding: 1em;
}
.big.section {
  margin: 1em;
}

.header1 {
  composes: h1;
}
.type {

}

.colors {

}

.color-row {
  composes: flex-row;
}
