/*******************************
 *          Background
 *******************************/

.dark1-bg {
    background-color: $dark1;
    color: white;
}
.dark2-bg {
	background-color: $dark2;
	color: white;
}
.dark3-bg {
	background-color: $dark3;
	color: white;
}
.dark4-bg {
	background-color: $dark4;
	color: white;
}
.dark5-bg {
	background-color: $dark5;
	color: $dark3;
}
.dark6-bg {
	background-color: $dark6;
	color: $dark3;
}
.dark7-bg {
	background-color: $dark7;
	color: $dark3;
}
.dark8-bg {
	background-color: $dark8;
	color: $dark3;
}

.blue1-bg {
	background-color: $blue1;
	color: white;
}
.blue2-bg {
	background-color: $blue2;
	color: white;
}
.blue3-bg {
    background-color: $blue3;
    color: white;
}
.blue4-bg {
	background-color: $blue4;
	color: white;
}
.blue5-bg {
	background-color: $blue5;
	color: white;
}
.blue6-bg {
	background-color: $blue6;
	color: white;
}

.green1-bg {
	background-color: $green1;
	color: white;
}
.green2-bg {
	background-color: $green2;
	color: white;
}
.green3-bg {
	background-color: $green3;
	color: white;
}
.green4-bg {
	background-color: $green4;
	color: white;
}
.green5-bg {
	background-color: $green5;
	color: white;
}
.green6-bg {
	background-color: $green6;
	color: white;
}

.red1-bg {
	background-color: $red1;
	color: white;
}
.red2-bg {
	background-color: $red2;
	color: white;
}
.red3-bg {
	background-color: $red3;
	color: white;
}
.red4-bg {
	background-color: $red4;
	color: white;
}
.red5-bg {
	background-color: $red5;
	color: white;
}
.red6-bg {
	background-color: $red6;
	color: white;
}

.yellow1-bg {
	background-color: $yellow1;
	color: white;
}
.yellow2-bg {
	background-color: $yellow2;
	color: white;
}
.yellow3-bg {
	background-color: $yellow3;
	color: white;
}
.yellow4-bg {
	background-color: $yellow4;
	color: white;
}
.yellow5-bg {
	background-color: $yellow5;
	color: white;
}
.yellow6-bg {
	background-color: $yellow6;
	color: white;
}

.turquoise1-bg {
	background-color: $turquoise1;
	color: white;
}
.turquoise2-bg {
	background-color: $turquoise2;
	color: white;
}
.turquoise3-bg {
	background-color: $turquoise3;
	color: white;
}
.turquoise4-bg {
	background-color: $turquoise4;
	color: white;
}
.turquoise5-bg {
	background-color: $turquoise5;
	color: white;
}
.turquoise6-bg {
	background-color: $turquoise6;
	color: white;
}

.white-bg {
	background-color: white;
	color: $font-color;
}

/*******************************
 *          Color
 *******************************/

.dark1-color { color: $dark1 }
.dark2-color { color: $dark2 }
.dark3-color { color: $dark3 }
.dark4-color { color: $dark4 }
.dark5-color { color: $dark5 }
.dark6-color { color: $dark6 }
.dark7-color { color: $dark7 }
.dark8-color { color: $dark8 }

.blue1-color { color: $blue1 }
.blue2-color { color: $blue2 }
.blue3-color { color: $blue3 }
.blue4-color { color: $blue4 }
.blue5-color { color: $blue5 }
.blue6-color { color: $blue6 }

.green1-color { color: $green1 }
.green2-color { color: $green2 }
.green3-color { color: $green3 }
.green4-color { color: $green4 }
.green5-color { color: $green5 }
.green6-color { color: $green6 }

.red1-color { color: $red1 }
.red2-color { color: $red2 }
.red3-color { color: $red3 }
.red4-color { color: $red4 }
.red5-color { color: $red5 }
.red6-color { color: $red6 }

.yellow1-color { color: $yellow1 }
.yellow2-color { color: $yellow2 }
.yellow3-color { color: $yellow3 }
.yellow4-color { color: $yellow4 }
.yellow5-color { color: $yellow5 }
.yellow6-color { color: $yellow6 }

.turquoise1-color { color: $turquoise1 }
.turquoise2-color { color: $turquoise2 }
.turquoise3-color { color: $turquoise3 }
.turquoise4-color { color: $turquoise4 }
.turquoise5-color { color: $turquoise5 }
.turquoise6-color { color: $turquoise6 }

.white-color { color: white }
.dim { color: rgba($dark3, 0.4) }
