/*********************
 *      Colors
 *********************/
$dark1: #343536;
$dark2: #3F4142;
$dark3: #424950;
$dark4: #89949B;
$dark5: #9AA8B1;
$dark6: #C4C9CD;
$dark7: #f4f5f6;
$dark8: #edeff0;
$blue1: #1790BB;
$blue2: #11A3D7;
$blue3: #26BBF0;
$blue4: #7DD6F6;
$blue5: #A8E4F9;
$blue6: #D4F1FC;
$green1: #6EB17B;
$green2: #98B36A;
$green3: #C2D5A0;
$green4: #DAE6C6;
$green5: #E7EED9;
$green6: #F3F7EC;
$red1: #A9484B;
$red2: #CC6164;
$red3: #CF6A6D;
$red4: #D88486;
$red5: #EBC0C1;
$red6: #F7E6E7;
$yellow1: #D9A92B;
$yellow2: #FFBC0D;
$yellow3: #FFD055;
$yellow4: #FFE49C;
$yellow5: #FFECBB;
$yellow6: #FFF6DD;
$turquoise1: #9BBFB3;
$turquoise2: #AECCC2;
$turquoise3: #B9D9CE;
$turquoise4: #D5E8E2;
$turquoise5: #E3F0EB;
$turquoise6: #F1F7F5;
