.grow1 { flex-grow: 1 }
.grow2 { flex-grow: 2 }
.grow3 { flex-grow: 3 }
.grow4 { flex-grow: 4 }
.grow5 { flex-grow: 5 }

.grid10 { flex: 1 0 10% }
.grid15 { flex: 1 0 15% }
.grid20 { flex: 1 0 20% }
.grid25 { flex: 1 0 25% }
.grid30 { flex: 1 0 30% }
.grid35 { flex: 1 0 35% }
.grid40 { flex: 1 0 40% }
.grid45 { flex: 1 0 45% }
.grid50 { flex: 1 0 50% }
.grid55 { flex: 1 0 55% }
.grid60 { flex: 1 0 60% }
.grid65 { flex: 1 0 65% }
.grid70 { flex: 1 0 70% }
.grid75 { flex: 1 0 75% }
.grid80 { flex: 1 0 80% }
.grid85 { flex: 1 0 85% }
.grid90 { flex: 1 0 90% }
.grid95 { flex: 1 0 95% }

.item {
    box-sizing: border-box;

    &.center {
        justify-content: center;
    }
}

.col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &.center {
        align-items: center;
    }

    >.end {
        @extend .col;
        margin-top: auto;
    }
}

.row {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;

    &.center {
        justify-content: center;
    }

    >.item {
        display: inherit;
        align-items: center;
    }

    >.end {
        @extend .row;
        margin-left: auto;
    }
}

// use inside a flex column to align vertical center
.self-center {
    align-self: center;
}
