// add default margin to font-awesome
i.fa {
    margin-right: 5px;
}

html,
body,
#mount,
.app {
    width: 100%;
    height: 100%;
}

/*******************************
 *          Text
 *******************************/

.t-center {
    text-align: center;
}

.hint {
    color: rgba($dark3, 0.4);
    font-size: 0.8rem;
    font-weight: 300;
}

/*******************************
 *          Padding
 *******************************/

.xs-pad {
    padding: 5px 20px;
}

.s-pad {
    padding: 10px 20px;
}

.m-pad {
    padding: 20px 20px;
}

.l-pad {
    padding: 30px 20px;
}

.xl-pad {
    padding: 50px 20px;
}

.xs-margin {
    margin: 5px 5px;
}

.s-margin {
    margin: 10px 10px;
}

.m-margin {
    margin: 20px 20px;
}

.l-margin {
    margin: 30px 20px;
}

.xl-margin {
    margin: 50px 20px;
}

/*******************************
 *          Shadow
 *******************************/

.shadow {
    box-shadow: 0px 5px 15px rgba($dark3, 0.5);
    transition: box-shadow 0.2s;
}

.shadow:hover {
    box-shadow: 0px 5px 25px rgba($dark3, 0.4);
    transition: box-shadow 0.2s;
}

/*******************************
 *          Debug
 *******************************/

.border {
    border: 1px solid rgba($dark3, 0.4);
}

.bg {
    background-color: rgba($green1, 0.2);
}

.debug {
    @extend .border;
    @extend .bg;
    box-sizing: border-box;
}
