// remove link styling
a:link,
a:visited,
a:active {
    color: inherit;
    text-decoration: inherit;
}

// remove input styling
input, textarea{
    border: none;
    box-shadow: none;
    outline: none;
}
input:focus, textarea:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

// font-awesome icons have default 5px right
i.fa {
    margin-right: 5px;
}

html,
body,
#mount,
.app {
    width: 100%;
    height: 100%;
}

/*******************************
 *          Text
 *******************************/

.t-center {
    text-align: center;
}

/*******************************
 *          Padding
 *******************************/

.xs-pad {
    padding: 5px;
}

.s-pad {
    padding: 10px;
}

.m-pad {
    padding: 20px;
}

.l-pad {
    padding: 30px;
}

.xl-pad {
    padding: 50px;
}

.m-margin {
    margin: 20px;
}

/*******************************
 *          Shadow
 *******************************/

.shadow {
    box-shadow: 0px 5px 10px rgba($dark3, 0.5);
}

/*******************************
 *          Debug
 *******************************/

.border {
    border: 1px solid $dark3;
}

.bg {
    background-color: rgba($red3, 0.2);
}

.debug {
    @extend .border;
    @extend .bg;
}
