.hover {
    transition: all 0.2s;
}

.hover:hover {
    cursor: pointer;
    transition: all 0.2s;
    border-right: 10px solid $blue3;
}

.active {
    border-right: 10px solid $blue3;
    color: white !important;
}
