.wwrap {
    $width-wrap-width: 1200px;
    max-width: $width-wrap-width;
    margin-left: auto;
    margin-right: auto;
}

.xs-wwrap {
    $xs-wwrap-width: 800px;
    max-width: $xs-wwrap-width;
    margin-left: auto;
    margin-right: auto;
}

.s-wwrap {
    $xs-wwrap-width: 920px;
    max-width: $xs-wwrap-width;
    margin-left: auto;
    margin-right: auto;
}

.m-wwrap {
    $xs-wwrap-width: 1200px;
    max-width: $xs-wwrap-width;
    margin-left: auto;
    margin-right: auto;
}

.section {
    $section-height: 100vh;
    min-height: $section-height;
    display: flex;
    justify-content: center;
}

/*******************************
 *          Content
 *******************************/

.scroll-view {
    box-sizing: border-box;
    overflow: auto;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.main {
    @extend .content;
    margin-left: 200px;
}
