/*******************************
 *          Content
 *******************************/

.content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.content.xy-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-view {
    box-sizing: border-box;
    overflow: auto;
}

/*******************************
 *          Width Wrap
 *******************************/

$xs-wwrap-width: 800px;
$s-wwrap-width: 920px;
$m-wwrap-width: 1200px;

.xs-wwrap {
    margin-left: auto;
    margin-right: auto;
    max-width: $xs-wwrap-width;
}

.s-wwrap {
    margin-left: auto;
    margin-right: auto;
    max-width: $s-wwrap-width;
}

.m-wwrap {
    margin-left: auto;
    margin-right: auto;
    max-width: $m-wwrap-width;
}

