@font-face {
  font-family: 'Proggy';
  src: url('./fonts/ProggyClean.ttf');
}

$font-family: 'Helvetica Neue';
$font-color: rgba($dark3, 0.8);
$font-size: 12px;

html {
  font-size: $font-size;
}

body {
  @include rem-font-size(1);
  color: $font-color;
  font-family: $font-family;
  font-weight: 300;
  font-smoothing: subpixel-antialiased;
  line-height: 1.4rem;
}

a {
  color: $link-color;
}

p {

}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
}

h4, h5, h6 {
  font-weight: 300;
}

h1, h2 {
  line-height: 1.3;
}

h3, h4 {
  line-height: 1.3;
}

h1,
.h1 {
  @include rem-font-size(4);
}

h2,
.h2 {
  @include rem-font-size(3.3333);
}

h3,
.h3 {
  @include rem-font-size(2.6667);
}

h4,
.h4 {
  @include rem-font-size(2);
}

h5,
.h5, {
  @include rem-font-size(1.3333);
}

h6,
.h6 {
  @include rem-font-size(1.1667);
}

.light {
  font-weight: 100;
}

.bold {
  font-weight: 400;
}
