@font-face {
    font-family: 'Proggy';
    src: url('./fonts/ProggyClean.ttf');
}

$font-family: 'Helvetica Neue';
$font-color: rgba($dark3, 0.8);

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
}
h1.xl {
    font-size: 8rem;
    line-height: 8rem;
}
h2 {
    font-size: 3rem;
    line-height: 3rem;
}
h3 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
}
h4 {
    font-size: 1.6rem;
    line-height: 1.6rem;
}
h5 {
    font-size: 1.4rem;
    line-height: 1.4rem;
}
h6 {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

body {
    font-family: $font-family;
    font-size: .9rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: $font-color;
}

hr {
    border: 0;
    height: 1px;
    background: rgba($dark3, 0.2);
}

/*******************************
 *          Mods
 *******************************/

.normal {
    font-weight: 300;
}

.bold {
    font-weight: 400;
}

.superbold {
    font-weight: 700;
}

.spaced {
    letter-spacing: 5px;
}
