@import '~styles/shared';

$border-color: $dark6;

.sidebar {
  composes: flex-col;
  flex-grow: 1;
  border-right: 1px solid $border-color;
  width: 250px;
}

.header {
  border-bottom: 1px solid $border-color;
}

.item {
  composes: flex-row;
  padding: .5em 1em;
}

.body {
  composes: flex-col;
  flex: 1;
  overflow: hidden;

  .body-inner {
    overflow: auto;
  }
}

.footer {

}
