@import '../../components/styleguide/~styles/shared';

.container {
  composes: flex-row;
  height: 100vh;
}

.content {
  composes: flex-col;
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar {
  composes: flex-col;
}
