@import '../styleguide/swatch/~styles/shared';

.swatch {
  composes: flex-col;
  justify-content: center;
  align-items: center;
  width: 4em;
  border-radius: .2em;
  overflow: hidden;
  box-shadow: 0 3px 5px $dark3;
  margin: .5em;

  .color {
    width: 4em;
    height: 5em;
  }

  .text {

  }
}

.swatch:first-child {
  margin-left: 0em;
}
.swatch:last-child {
  margin-right: 0em;
}
